<h2>About</h2>
<p>Recent graduate of <a href="https://generalassemb.ly/education/web-development-immersive">General Assembly Web Development Immersive</a>, September 2015</p>

<h2>Skills</h2>
<ul>
  <li>JavaScript</li>
  <li>HTML5/CSS</li>
  <li>Node.js/Express</li>
  <li>Ruby on Rails</li>
  <li>AngularJS</li>
</ul>

<hr />

<h2>Some Of My Projects</h2>
<ul>
  <li><a href="http://js-mastermind.herokuapp.com">JavaScript Mastermind game</a></li>
  <li><a href="http://guitaragogo.herokuapp.com">Guitar lesson sharing app built on Rails</a></li>
  <li><a href="http://twitter-web-socket.herokuapp.com">Node websocket app streaming Twitter searches</a></li>
</ul>

<!-- <p>
  <form class="emailForm" action="http://formspree.io/keith@keithdouglas.co.uk" method="post">

    <div class="formInput">
      <input type="text" placeholder="Your Name" name="yourname" id="yourname">
    </div>
      
    <div class="formInput">
      <input type="email" placeholder="Your Email" name="_replyto">
    </div>
    
    <div class="formInput">
      <textarea name="message" placeholder="Your Message" cols="37" rows="5"></textarea>
    </div>

    <div class="formInput">
      <button type="submit" class="btn">Email Me</button>
    </div>
  </form>
</p> -->

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/keithdhd">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://uk.linkedin.com/in/keithdhd">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon">T</span>
    <a href="http://www.twitter.com/KDHDouglas">KDHDouglas</a>
  </li>
</ul>
